<!DOCTYPE html>
<html>
  <head>
    <title>{{state.title}}</title>
  </head>
  <body>
    {{html}}
    <script>
      window.state = {{state | dump}};
    </script>
    <script src="/js/app.js"></script>
  </body>
</html>
